# Assignment
- Each question carries 5 marks
- Marks will be assigned in terms of:
    
    **1. Expected output**
    
    **2. Quality and Explainability of code**
    
    **3. Copied code, if found, will result in 0 marks for that question. To avoid this make as much comments in the code to explain the approach**
    
## All the best :)

### 1. Use range() to print all the even numbers from 0 to 10.

In [ ]:
s = [1,2,3,4,5,6,7,8,9,10]

for i in range(len(s)):
    if s[i] % 2 == 0 :
        print(s[i],'are even numbers')
    else:
        print(s[i],'are odd numbers')

1 are odd numbers
2 are even numbers
3 are odd numbers
4 are even numbers
5 are odd numbers
6 are even numbers
7 are odd numbers
8 are even numbers
9 are odd numbers
10 are even numbers

### 2. Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 4.

In [ ]:
result = []
for i in range(1,51,1):
    if i % 4 == 0 :
        result.append(i)
result

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

### 3. Go through the string below and if the length of a word is even print "even!"

In [ ]:
string = 'I know how to print every word in this sentence that has an even number of letters'
s = string.split(' ')
print(s, end = '\n\n')
for i in s:       
    if len(i)%2==0:
        print(i)

['I', 'know', 'how', 'to', 'print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'an', 'even', 'number', 'of', 'letters']

know
to
word
in
this
sentence
that
an
even
number
of

### 4. Write a function ``fizz_buzz`` that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
def fizz_buzz(num):
    if i % 3 == 0 and i ==5 :
        return 'FizzBuzz'
    elif  i % 3 == 0 :
        return 'Fizz'
    elif  i % 5 == 0 :
        return 'Buzz'
    else:
        return num

In [ ]:
for i in range(0,100,1):
    print(fizz_buzz(i))

### Numebr 15: should be FizzBuzz but prints only Fizz

Fizz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

### 5. Create a function ``first_letter`` to create a list of the first letters of every word in the string below

In [ ]:
string = 'I know how to create a list of the first letters of every word in this string'
def first_letter(string) :
    words = string.split()
    for i in words:
        first_char_list = i[0]
        print(list(first_char_list))         # why Use List here?

In [ ]:
print(first_letter(string))

['I']
['k']
['h']
['t']
['c']
['a']
['l']
['o']
['t']
['f']
['l']
['o']
['e']
['w']
['i']
['t']
['s']
None

### 6. Write a function ``match_names`` takes a two-word string and returns True if both words begin with same letter
- match_names('Levelheaded Llama') --> True
- match_names('Crazy Kangaroo') --> False

In [ ]:
def match_names(names):
    i = names.split()
    if i[0][0] == i[1][0]:
        return True
    if i[0][0] != i[1][0] :
        return False

In [ ]:
names = str(input('Enter your First and Last Name : '))

Enter your First and Last Name : Crazy Kangaroo

In [ ]:
match_names(names)

False

### 7. Create a function ``lets_make_twenty`` Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False
- lets_make_twenty(20,10) --> True
- lets_make_twenty(12,8) --> True
- lets_make_twenty(2,3) --> False

In [ ]:
def Lets_make_twenty(i,j):
        if i + j == 20 :
            return True
        elif i == 20 or j == 20 :
            return True
        else :
            return False

In [ ]:
Lets_make_twenty(-19,-1)

False

### 8. Write a function ``capitalize_some`` that capitalizes the first and fourth letters of a name
- capitalize_some('macdonald') --> MacDonald

In [ ]:
word = 'macdonald'
result = ''
for i in range(len(word)):
    s = str(word[i]).upper()
    if i == 0 or i == 3 :
        #print(str(word[i]).upper())
        result += s
    else:
        result += str(word[i])
        print(word[i])
    ## newword.append(word[i])
    
print(result)

a
c
o
n
a
l
d
MacDonald

### 9. Create a function ``am_i_close`` to check if given an integer ``n``, return True if ``n`` is within 17 of either 100 or 200
- am_i_close(90) --> True
- am_i_close(104) --> True
- am_i_close(150) --> False
- am_i_close(209) --> True

In [ ]:
def am_i_close(n):
    return ((abs(100 - n) <= 17) or (abs(200 - n) <= 17))

In [ ]:
am_i_close(200)

True

### 10. Create a function ``lets_find_33`` Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
- lets_find_33([1, 3, 3]) → True
- lets_find_33([1, 3, 1, 3]) → False
- lets_find_33([3, 1, 3]) → False

In [ ]:
def lets_find_33(a,b,c):
        l = (a,b,c)
        if l[0] == 3 and l[1] == 3 :
            return True
        elif l[1] == 3 and l[2] == 3 :
            return True
        else :
            return False

In [ ]:
lets_find_33(1,2,3,3) # Code only works for 3 parameters. In test cases there is condition with 4 parameters

TypeError: ignored

In [ ]:
l = (1,2,3,4)
l[1+2]

4

In [ ]:
def find_3(a,b,c,d):
    l = (a,b,c,d)
    i = 0
    while i < len(l)-1 :
        if l[i] == 3 and l[i+1] == 3 :
            return True
            break
        print(i)
        i += 1
    return False

In [ ]:
find_3(3,1,3)

TypeError: ignored

### 11.  Create a function ``shout_out`` Given a string, return a string where:
- 
### for every character in the original there are three characters
    - shout_out('character') --> 'ccchhhaaarrraaacccttteeerrr'
    - shout_out('original') --> 'ooorrriiigggiiinnnaaalll'

In [ ]:
def shout_out(a):
    
    n = list(a)
    i = 1
    for i in range(len(n)):
        for j in range(0,3):
            print(n[i], end = '')

In [ ]:
a = 'Original'
shout_out(a)

OOOrrriiigggiiinnnaaalll

### 12. Create a function ``ignore_6_to_9`` that returns the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
- ignore_6_to_9([1, 3, 5]) --> 9
- ignore_6_to_9([4, 5, 6, 7, 8, 9]) --> 9
- ignore_6_to_9([2, 1, 6, 9, 11]) --> 14

In [ ]:
def ignore_6_to_9(nums):
    result=0
    if 6  not in nums:
        result=result+sum(nums)
        return result
    elif len(nums)==0:
        return 0
    else:
        return sum(nums)-sum(nums[nums.index(6):nums.index(9)+1])

In [ ]:
nums = [2, 1, 6,5,5, 9, 11]
ignore_6_to_9(nums)

13

### 13. Write a function ``peace_maker`` that takes in a list of integers and returns True if it contains 002 in order
- peace_maker([1,2,4,0,0,2,5]) --> True
- peace_maker([1,0,2,4,0,5,2]) --> True
- peace_maker([1,7,2,0,4,5,0]) --> False

In [ ]:
def peace_maker(nums):
    flag = False
    flag_a = False
    for i in nums:
        if (i==0 and flag is True):
            flag_a = True
            continue
        elif (i==0):
            flag = True
            continue
        elif (i==2 and flag_a is True):
            return True
        
    return False

In [ ]:
nums = [1,2,4,0,1,0,2,5,0,0]
peace_maker(nums)

True

### 14. Write a function ``how_many_primes`` that returns the number of prime numbers that exist up to and including a given number
- how_many_primes(100) --> 25

In [ ]:
def how_many_primes(a, b):
    count = 0
    primes = []
    for i in range(2, b + 1):
        for j in primes:
            if i % j == 0:
                break
        else:
            primes.append(i)
            if i >= a:
                count += 1
    return count

In [ ]:
how_many_primes(1,100)

25

###  15. Write a function ``print_bigger`` that takes in a single letter, and returns a 5x5 representation of that letter
    print_bigger('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. 
#### For purposes of this exercise, it's ok if your dictionary stops at "D".
.

In [ ]:
def Print_bigger():
    n = 5
    for i in range(n-3):
        for j in range(n - i-3):
            print(' ', end='')
        for j in range(2* i + 1):
            if j % 2 == 0:
                print('*', end='')
            else:
                print(' ', end='')
        print()
        #downward line
    for i in range(n):
        print('*', end = '')
    print()
    #downward bars
    for i in range(n-3):
        for j in range(5):
            if j != 0 and j != 4:
                print(' ', end = '')
            else:
                print('*', end = '')
        print()

In [ ]:
Print_bigger()

  *
 * *
*****
*   *
*   *

### 16. Write a Python function that prints out the first n rows of Pascal's triangle.

- Input : 5
- Output: 
          1
         1 1
        1 2 1
       1 3 3 1
      1 4 6 4 1

In [ ]:
def patt_16(n) :
    for i in range(n):
        print(' '*(n-i), end='')
        
        print(' '.join(map(str, str(11**i))))

In [ ]:
patt_16(5)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

### 17. Write a function to print following pattern

    5 5 5 5 5 
    5 5 5 5 
    5 5 5 
    5 5 
    5

In [ ]:
def patt_17():
    n = 5
    for i in range(n):
        for j in range(n - i):
            print(n, end=' ')
        print()

In [ ]:
patt_17()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

### 18. Write a function to print following pattern
    1  
    2 2  
    3 3 3  
    4 4 4 4  
    5 5 5 5 5

In [ ]:
def patt_18():
    n = 5
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(i, end = ' ')
        print()

In [ ]:
patt_18()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 19. Write a function to print following pattern

    1 
    1 2 
    1 2 3 
    1 2 3 4 
    1 2 3 4 5

In [ ]:
def patt_19():
    n = 5
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j, end = ' ')
        print()

In [ ]:
patt_19()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 20. Write a function to print following pattern

    0 1 2 3 4 5 
    0 1 2 3 4 
    0 1 2 3 
    0 1 2 
    0 1

In [ ]:
def patt_20():
    n = 5
    for i in range(n+1):
        for j in range((n+1) - i):
            print(j, end=' ')
        print()

In [ ]:
patt_20()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

### 21. Write a function to print following pattern

    1 2 3 4 5 
    2 2 3 4 5 
    3 3 3 4 5 
    4 4 4 4 5 
    5 5 5 5 5

In [ ]:
def patt_21():
    n = 6
    k = 1
    for i in range(0,n):
        for j in range(0,i):
            print(i, end = ' ')
        for k in range(i+1,n):
            print(k, end = ' ')
        print()

In [ ]:
patt_21()

1 2 3 4 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

### 22. Write a function to print following pattern
              1 
            1 2 
          1 2 3 
        1 2 3 4 
      1 2 3 4 5

In [ ]:
def patt_22() :
    n = 6
    for i in range(1,n) :
        for j in range (0,n-i):
            print(' ', end = ' ')
        for k in range (1,i+1):
            print(k, end = ' ')
        print()

In [ ]:
patt_22()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

### 23. Write a function to print following pattern

    1  
    2  4  
    3  6  9  
    4  8  12  16  
    5  10  15  20  25  
    6  12  18  24  30  36  
    7  14  21  28  35  42  49  
    8  16  24  32  40  48  56  64

In [ ]:
n  = 8
i = 1
while i <= n :
    j = i
    while j <= i * i :
        print(j, end = '  ')
        j = j + i
        
    print()
    
    i = i+1

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

### 24. Write a function to print following pattern
    *  
    * *  
    * * *  
    * * * *  
    * * * * *  
    * * * * * *  

    * * * * * *  
    * * * * *  
    * * * *  
    * * *  
    * *  
    *

In [ ]:
def patt_24():
    n = 7
    for i in range(1,n+1):
        for j in range(1,i+1):
            print('*', end = ' ')
        print()
    print()
    for i in range(n):
        for j in range(n - i):
            print('*', end=' ')
        print()

In [ ]:
patt_24()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### 25. Write a function to print following pattern
    * * * * * 
     * * * * 
      * * * 
       * * 
        * 
        * 
       * * 
      * * * 
     * * * * 
    * * * * *

In [ ]:
def Patt_25():
    n = 5
    for i in range(n):
        print(" "*(i+1),end="") 
        for j in range(n-i):  
            print("* ",end="")
        print()
    for i in range(n):
        print(" "*(n-i),end="") 
        for j in range(i+1):
            print("* ",end="") 
        print()

In [ ]:
Patt_25()

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

# Great work!!